.square {
    display: inline-block;
    padding: 4px 8px;
    color: #2b2b2b;
    font-size: 14px;
    background-color: #e9faff;
}

.square-fade-in {
    background-color: #47c7ff;
    transition: background-color ease-in-out;
}
